body {
    width: 360px;
    height: 220px;

    margin: 0;
    padding: 20px;
}

#console {
    font-family: Consolas;
}

label {
    display: block;

    font-family: 'Lucida Grande';
    font-size: 13px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;

    margin-bottom: 10px;
}

textarea {
    width: 100%;

    margin-bottom: 10px;
}

#checkboxes {
    float: left;

    margin-bottom: 10px;
}

label[for="private"] {
    display: inline;

    margin-right: 30px;
}

label[for="toread"] {
    display: inline;
}

input[type="button"] {
    float: right;
}

