body {
    padding-left: 0.5em;
}

#console {
    font-family: Consolas;
}

label {
    display: block;

    margin-top: 1em;

    font-family: 'Lucida Grande';
    font-size: 0.8em;
    font-weight: bold;
}

input[type="text"] {
    margin-bottom: 0.25em;
    width: 30em;
}

textarea {
    width: 30em;
}

#checkboxes {
    margin: 1em 0 1em 0;
}

label[for="private"], label[for="toread"] {
    display: inline;

    margin-right: 3em;
}

input[type="submit"] {
    display: block;
}
